<div class="widgets">
	<div>
		<ba-card title="Stock Details" baCardClass="with-scroll">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<div *ngIf="divisions">
							 <select class="btn btn-default btn-xm dropdown-toggle" type="button"><span class="caret"></span>
							 	<option [value]=''>Division not chosen</option>
				                <option *ngFor="let division of divisions" [value]="division">{{division.description}}</option>
				            </select>

								<!-- <ul class="dropdown-menu" >
									<li *ngFor="let division of divisions"><a href="#">{{division.description}}</a></li>
								</ul> -->
						</div>
					</div>
				</div>
				<div class="col-md-4">	
					<div class="form-group">
						<div *ngIf="employees">
							 <select class="btn btn-default btn-xm dropdown-toggle" type="button" ><span class="caret"></span>
				                <option *ngFor="let employee of employees" [value]="employee">{{employee.name}}</option>
				            </select>

						</div>
					</div>
				</div>
			</div>
			<div class="input-demo radio-demo row">
				<div class="col-md-4">
					<label class="radio-inline custom-radio nowrap">
						<input [formControl]="stockInOut" type="radio" id="stockInOut" value="stockInOut" [checked]="true">
						<span>Stock In/Out</span>
					</label>
				</div>
				<div class="col-md-4">
					<label class="radio-inline custom-radio nowrap">
						<input [formControl]="stockAdjustment" type="radio" id="stockAdjustment" value="stockAdjustment">
						<span>Stock Adjustment</span>
					</label>
				</div>
				<div class="col-md-4">
					<label class="radio-inline custom-radio nowrap">
						<input [formControl]="stockTake" type="radio" id="stockTake" value="stockTake">
						<span>Stock Take</span>
					</label>
				</div>
			</div>
			<div class="col-xl-10">
				
				<div class="form-group">
					<label for="inputBarcode">Barcode</label><font color="#993333"> {{noti}}</font><font color="#006600"> {{success}}</font>
					<div class="input-group">
							<input  #inputBarcode type="text" class="form-control" id="inputBarcode" placeholder="Barcode" required>
							 <span class="input-group-btn">
							<button type="button" class="btn btn-success btn-icon" (click)="checkMaterialCode(inputBarcode.value)"><i class="ion-android-checkmark-circle"></i></button>
							<button type="button" class="btn btn-danger btn-icon" (click)="inputBarcode.value =''"><i class="ion-android-cancel"></i></button></span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputCurrent">Current</label>
					<input type="text" class="form-control" id="inputCurrent" placeholder="Current" value="{{currmat}}" disabled>
				</div>
				<div class="form-group">
					<label for="inputOnHand">On Hand</label>
					<input type="text" class="form-control" id="inputOnHand" placeholder="On Hand" >
				</div>

				<div class="form-group">
					<div class="button-wrapper">
						<button type="button" class="btn btn-success btn-lg button-full-width" (click)="button_IN($event)">Process</button>
					</div>
				</div>
			</div>

		</ba-card>
	</div>
</div>


